name: CI Check

on:
  pull_request:
    branches:
      - dev
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Basic check
        run: echo "CI check passed"
